.name{
    color: #111111;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.007em;
}
.btn{
    border-radius: 30px;
    border: 1.5px;
    padding: 18px 24px;
}

.btn-add{
    color: White;
    background-color: #111111;
}
.btn-fav{
    border: 1px solid #CACACB;
    background-color: #fff !important;
    color: #111111;
}

