// p, span{
//     color: #757575 !important;
// } 
.title{
    font-size: 24px;
}
h1,h2,h3,h4,h5,h6{
    color: #111111;
}
button{
    padding: 14px 22px;
    border: 1px solid #CACACB;
    color: #111111;
    border-radius: 8px;
    background-color: #fff;
}
.btn-save{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-color: transparent;
    cursor: default;
    border: none;
    border-radius: 30px;
    font-weight: 500;
}
.btn-disabled{
    background: rgb(161, 161, 161);
    color: rgb(212, 212, 212);
    border-color: transparent;
    cursor: default;
    border: none;
    border-radius: 30px;
    font-weight: 500;
}
::ng-deep{
    .mat-mdc-form-field-error-wrapper {
        padding: 0px !important;
    }
}

.border-color{
    border: 2px solid #000 !important;
}
.br-8{
    border-radius: 8px;

}
.shipping{
    p{
       color:  rgb(117, 117, 117) !important;
    }
}

::ng-deep{
    .paymentMethod{
        .mat-mdc-radio-button{
            .mdc-form-field{
                height: 20px;
            }
        }
    }
}

