<div class="footer">
    <div class="container">
      <div class="container-7">
        <div class="item-link-resources">
        Resources
        </div>
        <div class="item-link-gift-cards">
        Gift Cards
        </div>
        <div class="item-link-find-astore">
        Find a Store
        </div>
        <div class="item-link-become-amember">
        Become a Member
        </div>
        <div class="item-link-nike-xnba">
        Nike x NBA
        </div>
        <div class="item-link-nike-journal">
        Nike Journal
        </div>
        <span class="item-button-site-feedback">
        Site Feedback
        </span>
      </div>
      <div class="container-8">
        <div class="item-link-main-footer-main-footer-help-help">
        Help
        </div>
        <div class="footer-list">
        Get Help
        </div>
        <div class="footer-list">
        Order Status
        </div>
        <div class="footer-list">
        Shipping and Delivery
        </div>
        <div class="footer-list">
        Returns
        </div>
        <div class="footer-list">
        Order Cancellation
        </div>
        <div class="footer-list">
        Payment Options
        </div>
        <div class="footer-list">
        Gift Card Balance
        </div>
        <span class="footer-list">
        Contact Us
        </span>
      </div>
      <div class="container-9">
        <div class="item-link-main-footer-company-company">
        Company
        </div>
        <div class="footer-list">
        About Nike
        </div>
        <div class="footer-list ">
        News
        </div>
        <div class="footer-list ">
        Careers
        </div>
        <div class="footer-list ">
        Investors
        </div>
        <div class="footer-list ">
        Purpose
        </div>
        <span class="footer-list ">
        Sustainability
        </span>
      </div>
      <div class="container-10">
        <div class="item-link-main-footer-promotions-discounts-promotions-discounts">
        Promotions &amp; Discounts
        </div>
        <div class=" footer-list ">
        Student
        </div>
        <div class=" footer-list ">
        Military
        </div>
        <div class=" footer-list ">
        Teacher
        </div>
        <div class=" footer-list">
        First Responders &amp; Medical Professionals
        </div>
        <span class=" footer-list ">
        Birthday
        </span>
      </div>
      <div class="list-1">
        <div class="item-link-twitter-svg">
          <img class="vector-4" src="../../../assets/vectors/vector_8_x2.svg" />
        </div>
        <div class="item-link-facebook-svg">
          <img class="vector-5" src="../../../assets/vectors/vector_x2.svg" />
        </div>
        <div class="item-link-youtube-svg">
          <img class="vector-6" src="../../../assets/vectors/vector_6_x2.svg" />
        </div>
        <div class="item-link-instagram-svg">
          <img class="vector-7" src="../../../assets/vectors/vector_3_x2.svg" />
        </div>
      </div>
    </div>
    <div class="container-25">
      <div class="container-27">
        <div class="link-selected-location-united-states">
          <div class="img">
            <img class="vector-8" src="../../../assets/vectors/vector_2_x2.svg" />
          </div>
          <div class="united-states">
          United States
          </div>
        </div>
        <div class="nike-inc-all-rights-reserved">
        © 2024 Nike, Inc. All Rights Reserved
        </div>
      </div>
      <div class="list-2">
        <div class="container-28">
          <span class="footer-list ">
          Guides
          </span>
          <span class="footer-list ">
          Terms of Sale
          </span>
          <span class="footer-list">
          Terms of Use
          </span>
          <span class="footer-list">
            Nike Privacy Policy
          </span>
        
          <div class="image-png">
          </div>
          <span class=" footer-list ">
          Your Privacy Choices
          </span>
          <div class="container-29">
            <div class="footer-list ">
            </div>
          </div>
        </div>
        <div style="display: flex; justify-content: end;">

          <span class="footer-list">
          CA Supply Chains Act
          </span>
        </div>
      </div>
    </div>
  </div>